
nav{
    height: 4rem;
    display: grid;
    place-items: center;
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span{
    color: rgb(192,108,223);
}

.menu__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}


.reg_login{
    display: flex;
    gap: 3rem;
}

.loginBtn{
    background-color: rgb(192,108,223);
    color: white;
}
.regBtn{
    font-weight: 600;
}